@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');

:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #1555a8;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 140rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: 'Libre Franklin',
        sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

h1,
figcaption,
#description,
#navigation,
#author h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
}

.image {
    margin: 0 auto;
    display: block;
}

.home-avatar {
    max-width: 300px;
    border-radius: 100%;
    padding-bottom: 15px;
}

#title a {
    color: darkcyan;
}

#navigation a {
    font-weight: bold;
}

#h-card {
    overflow: auto;
    padding: 0px 10px 15px;
}

#h-card img {
    float: left;
    max-height: 150px;
    margin-top: -10px;
    padding-right: 15px;
}

#h-card h3 {
    margin-top: 5px;
}

#pages {
    text-align: center;
    margin-top: 20px;
}

#current-page {
    padding: 0px 15px;
}

#social {
    text-align: right;
}

/* ACCESSIBILITY */
a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

#new-header {
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #999;
}

nav {
    background-color: white;
}

/* TODO for Header
- Change padding on links
- Replace RSS link w/ icon
- Bold text, change typeface (in general)
*/